<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">Registrar nuevo Camion</h3>
                </div>
                <div class="card-body">
                    <form action="/add2" method="post">
                    <div class="input-group mt-2">
                        <label for="marca" class="input-group-text">Marca</label>
                        <input class="form-control" type="text" name="marca" id="marca" autofocus required>
                    </div>
                     <div class="input-group mt-2">
                        <label for="modelo" class="input-group-text">Modelo</label>
                        <input class="form-control" type="varchar" name="modelo" id="modelo" required>
                    </div>
                     <div class="input-group mt-2">
                        <label for="placa" class="input-group-text">Placa</label>
                        <input class="form-control" type="varchar" name="placa" id="placa" required>
                    </div>
                     <div class="input-group mt-2">
                        <label for="a単o" class="input-group-text">A単o</label>
                        <input class="form-control" type="num" name="a単o" id="a単o" required>
                    </div>
                    <div class="form-group mt-4 d-grid gap-2">
                        <button class="btn btn-success">Crear</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>